{% extends "category/base.html" %}

{% block content %}
<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-dark text-white">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <a href="{% url 'cat-create' %}" class="btn btn-primary btn-sm text-white">Create<i class="fa fa-plus pl-2"></i></a>
            {% for product in products %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.created_at}}</td>
                <td><img src="{{product.image.url}}" alt=""></td>
                <td>
                    <button class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}